$primary10: #001a42;
$primary20: #002e6a;
$primary25: #00397f;
$primary30: #10448f;
$primary35: #23509b;
$primary40: #325da8;
$primary50: #4d76c3;
$primary60: #6890df;
$primary70: #83aafb;
$primary80: #adc6ff;
$primary90: #d8e2ff;
$primary95: #edf0ff;
$primary98: #f9f9ff;
$primary99: #fefbff;
$secondary10: #141b2c;
$secondary20: #293041;
$secondary25: #343b4d;
$secondary30: #3f4759;
$secondary35: #4b5265;
$secondary40: #575e71;
$secondary50: #6f778b;
$secondary60: #8990a5;
$secondary70: #a3abc0;
$secondary80: #bfc6dc;
$secondary90: #dbe2f9;
$secondary95: #edf0ff;
$secondary98: #f9f9ff;
$secondary99: #fefbff;
$tertiary10: #29132d;
$tertiary20: #402843;
$tertiary25: #4c334f;
$tertiary30: #583e5b;
$tertiary35: #644967;
$tertiary40: #715573;
$tertiary50: #8b6d8d;
$tertiary60: #a687a7;
$tertiary70: #c2a1c3;
$tertiary80: #debcdf;
$tertiary90: #fcd7fb;
$tertiary95: #ffebfc;
$tertiary98: #fff7fa;
$tertiary99: #fffbff;
$neutral10: #1b1b1f;
$neutral20: #303034;
$neutral25: #3b3b3f;
$neutral30: #46464a;
$neutral35: #525256;
$neutral40: #5e5e62;
$neutral50: #77777a;
$neutral60: #919094;
$neutral70: #ababaf;
$neutral80: #c7c6ca;
$neutral90: #e3e2e6;
$neutral95: #f2f0f4;
$neutral98: #faf8fd;
$neutral99: #fefbff;
$neutral-variant10: #191b22;
$neutral-variant20: #2e3038;
$neutral-variant25: #393b43;
$neutral-variant30: #44474f;
$neutral-variant35: #50525a;
$neutral-variant40: #5c5e66;
$neutral-variant50: #75777f;
$neutral-variant60: #8e9099;
$neutral-variant70: #a9abb4;
$neutral-variant80: #c4c6d0;
$neutral-variant90: #e1e2ec;
$neutral-variant95: #eff0fa;
$neutral-variant98: #f9f9ff;
$neutral-variant99: #fefbff;
$error10: #410002;
$error20: #690005;
$error25: #7e0007;
$error30: #93000a;
$error35: #a80710;
$error40: #ba1a1a;
$error50: #de3730;
$error60: #ff5449;
$error70: #ff897d;
$error80: #ffb4ab;
$error90: #ffdad6;
$error95: #ffedea;
$error98: #fff8f7;
$error99: #fffbff;